doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title 抽選会
  body
    h1 抽選結果
    canvas#c
    script(src="http://www.inct-iken.com/nryas/ufo_js/three.js")
    script(src="http://jsrun.it/assets/p/G/s/G/pGsGo")
    script(src="http://www.inct-iken.com/nryas/ufo_js/WebSubsetFont_Regular.js")
    script(src="http://www.inct-iken.com/nryas/ufo_js/client_text.js")
